@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
.boxed {
  color: #191919;
  padding: 1.5rem;
}
.rounded {
  border-radius: 1.5rem;
}
.shadow {
  text-shadow: 4px 2px 2px #191919;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
.hovered {
  background-color: transparent;
  color: #ffd25a;
}
.clickable {
  cursor: pointer;
  transition: 1s;
}
.clickable:hover {
  background-color: transparent;
  color: #ffd25a;
  box-shadow: 0 4px 8px 0 #191919;
}
.grid {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen {
  .grid {
    grid-template-columns: 2fr 2fr 0.5fr;
    grid-template-rows: 1fr auto 2fr 2fr;
    grid-template-areas: "header header header" "question question progress" "answer answer progress" "answer answer progress";
  }
}
@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto auto 1fr 1fr;
    grid-template-areas: "header header" "progress progress" "question question" "answer answer" "answer answer";
  }
}
@media screen and (max-width: 425px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "progress" "question" "answer" "answer";
  }
}
.item-question {
  grid-area: question;
  background-color: #FC814A;
  font-size: 1.5em;
  color: #191919;
  padding: 1.5rem;
}
.item-header {
  grid-area: header;
  color: #191919;
  padding: 1.5rem;
  color: #FFF05A;
  font-size: 2em;
  text-shadow: 4px 2px 2px #191919;
  text-align: start;
}
.item-progress {
  grid-area: progress;
  display: grid;
  align-items: center;
}
@media screen {
  .item-progress {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .item-progress {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 5px;
  }
}
.item-progress div {
  color: #FFF05A;
  text-shadow: 4px 2px 2px #191919;
  font-size: 2em;
}
.grid-answer {
  display: grid;
}
@media screen {
  .grid-answer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 425px) {
  .grid-answer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    gap: 10px;
  }
}
.item-answer {
  grid-area: answer;
  align-items: center;
  display: grid;
}
@media screen {
  .item-answer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 425px) {
  .item-answer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    gap: 10px;
  }
}
.item-answer div {
  background-color: #ffd25a;
  border: 1px solid #ffd25a;
  padding: 1.5rem;
  color: #191919;
  cursor: pointer;
  transition: 1s;
}
@media screen {
  .item-answer div {
    height: 120px;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 768px) {
  .item-answer div {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 484px) {
  .item-answer div {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 425px) {
  .item-answer div {
    font-size: 1em;
  }
}
.item-answer div:hover {
  background-color: transparent;
  color: #ffd25a;
  box-shadow: 0 4px 8px 0 #191919;
}
.item-your-result {
  grid-area: answer;
  align-items: center;
  border: 1px solid #7F7EFF;
  color: #191919;
  padding: 1.5rem;
  font-size: 1.5em;
  font-weight: 300;
}
.yellow {
  color: #FFF05A;
}
.white {
  color: white;
}
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #272727;
}
