@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
.boxed {
  color: #F6F7F8;
  padding: 1.5rem;
}
.rounded {
  border-radius: 1.5rem;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
.clickable {
  cursor: pointer;
  transition: 1s;
}
.clickable:hover {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 #011627;
  color: #F6F7F8;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-rows: 1fr auto 2fr 2fr 1fr;
  grid-template-areas: "header header result" "question question progress" "answer answer progress" "answer answer progress" "button button .";
  margin-left: 5%;
  margin-right: 5%;
}
.item-question {
  grid-area: question;
  background-color: #2EC4B6;
  font-size: 1.5em;
  color: #F6F7F8;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.item-header {
  grid-area: header;
  font-size: 2em;
  text-align: start;
  color: #F6F7F8;
  padding: 1.5rem;
}
.item-result {
  grid-area: result;
  display: none;
}
.item-result p {
  background-color: yellow;
  border: 1px solid yellow;
  color: #F6F7F8;
  padding: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 1s;
  color: #011627;
}
.item-result p:hover {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 #011627;
  color: #F6F7F8;
}
.item-progress {
  grid-area: progress;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 6);
  align-items: center;
}
.item-progress div {
  color: #F6F7F8;
  font-size: 2em;
}
.item-answer {
  grid-area: answer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 50px;
  margin-top: 30px;
}
.item-answer div {
  background-color: #F6F7F8;
  border: 1px solid #F6F7F8;
  color: #F6F7F8;
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: #011627;
  font-size: 1.2em;
  cursor: pointer;
  transition: 1s;
}
.item-answer div:hover {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 #011627;
  color: #F6F7F8;
}
.item-next {
  grid-area: button;
  align-items: center;
  color: #F6F7F8;
  padding: 1.5rem;
}
.btn {
  border-radius: 1.5rem;
  background-color: pink;
  border: 1px solid pink;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  cursor: pointer;
  transition: 1s;
}
.btn:hover {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 #011627;
  color: #F6F7F8;
}
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  background-color: gray;
  background-size: cover;
}
