@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@body-margin: 5%;
@background-pic: url("https://images.unsplash.com/photo-1576086213369-97a306d36557?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"); 

#colors() {
    header: #011627;
    question: #2EC4B6;
    answer: #F6F7F8;
    light:#F6F7F8;
    dark: #011627;
    button: pink;
    result: yellow;
}

.boxed {
    color: #colors[light];
    padding: 1.5rem;
}

.rounded {
    border-radius: 1.5rem;
}

.container {
    margin-left: @body-margin;
    margin-right: @body-margin;
}

.clickable {
    cursor: pointer;
    transition: 1s;
    &:hover {
        background-color: transparent;
        box-shadow: 0 4px 8px 0 #colors[dark];
        color: #colors[answer];
    }
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    grid-template-rows: 1fr auto 2fr 2fr 1fr;
    grid-template-areas: 
        "header header result"
        "question question progress"
        "answer answer progress"
        "answer answer progress"
        "button button .";
    .container();
}

.item-question {
    grid-area: question;
    background-color: #colors[question];
    font-size: 1.5em;
    .boxed();
    .rounded();
}

.item-header {
    grid-area: header;
    font-size: 2em;
    text-align: start;
    .boxed();
}

.item-result {
    grid-area: result;
    display: none;
}

.item-result p {
    background-color: #colors[result];
    border: 1px solid #colors[result];
    .boxed();
    .rounded();
    .clickable();
    color: #colors[dark];
}

.item-progress {
    grid-area: progress;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);
    align-items: center;
}

.item-progress div {
    color: #colors[light];
    font-size: 2em;
}

.item-answer {
    grid-area: answer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    margin-top: 30px;
}

.item-answer div {
    background-color: #colors[answer];
    border: 1px solid #colors[answer];
    .boxed();
    .rounded();
    color: #colors[dark];
    font-size: 1.2em;
    .clickable();
}

.item-next {
    grid-area: button;
    align-items: center;
    .boxed();
}

.btn {
    .rounded();
    background-color: #colors[button];
    border: 1px solid #colors[button];
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    .clickable();
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: gray;
    background-size: cover;
}