@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@body-margin: 5%;

#colors() {
    body: #272727;
    question: #FC814A;
    answer: #ffd25a;
    light:#FFF05A;
    dark: #191919;
    result: #7F7EFF;
}

.boxed {
    color: #colors[dark];
    padding: 1.5rem;
}

.rounded {
    border-radius: 1.5rem;
}

.shadow {
    text-shadow: 4px 2px 2px #colors[dark];
}

.container {
    margin-left: @body-margin;
    margin-right: @body-margin;
}

.hovered {
    background-color: transparent;
    color: #colors[answer];
}

.clickable {
    cursor: pointer;
    transition: 1s;
    &:hover {
        .hovered();
        box-shadow: 0 4px 8px 0 #colors[dark];
    }
}

.grid {
    display: grid;
    @media screen {
        grid-template-columns: 2fr 2fr 0.5fr;
        grid-template-rows: 1fr auto 2fr 2fr;
        grid-template-areas: 
            "header header header"
            "question question progress"
            "answer answer progress"
            "answer answer progress";
        @media (max-width: 640px) {
            grid-template-columns: 2fr 2fr;
            grid-template-rows: auto auto auto 1fr 1fr;
            grid-template-areas: 
                "header header"
                "progress progress"
                "question question"
                "answer answer"
                "answer answer";
        }
        @media (max-width: 425px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "header"
                "progress"
                "question"
                "answer"
                "answer";
        }
    }
    .container();
}

.item-question {
    grid-area: question;
    background-color: #colors[question];
    font-size: 1.5em;
    .boxed();
}

.item-header {
    grid-area: header;
    .boxed();
    color: #colors[light];
    font-size: 2em;
    .shadow();
    text-align: start;
}

.item-progress {
    grid-area: progress;
    display: grid;
    @media screen {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr); 
        @media (max-width: 640px) {
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: 1fr;
            margin-bottom: 5px;
        }
    }
    align-items: center;
}

.item-progress div {
    color: #colors[light];
    .shadow();
    font-size: 2em;
}

.grid-answer {
    display: grid;
    @media screen {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        margin-top: 30px;
        @media (max-width: 425px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            margin-top: 10px;
            gap: 10px;
        }
    }
}

.item-answer {
    grid-area: answer;
    align-items: center;
    .grid-answer();
}

.item-answer div {
    background-color: #colors[answer];
    border: 1px solid #colors[answer];
    @media screen {
        height: 120px;
        font-size: 1.3em;
        @media (max-width: 768px) {
            font-size: 0.9em;
        }
        @media (max-width: 484px) {
            font-size: 0.8em;;
        }
        @media (max-width: 425px) {
            font-size: 1em;;
        }
    }
    .boxed();
    color: #colors[dark];
    .clickable();
}

.item-your-result {
    grid-area: answer;
    align-items: center;
    border: 1px solid #colors[result];
    .boxed();
    font-size: 1.5em;
    font-weight: 300;
}

.yellow {
    color: #colors[light];
}

.white {
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #colors[body];
}