
<div class="yellow">
    <p> <strong>Żółte napisy są w Tobie silne.</strong> </p>
    <p> Z domu nie wychodzisz bez foliowej czapeczki, 
        która chroni Cię przed śmiercionośnymi promieniowaniami L<strong>5G</strong>BT. 
        Dobrze wiesz, że światem rządzi światowy spisek Masonerii z Iluminatami, 
        którzy gdy nikt nie patrzy zmieniają się w Reptilian.
    </p>
    <p> Twój nick na wykopie to pewnie apokalipsa2012, bo bardziej wierzysz prorokom wieszczącym koniec świata na podstawie kalendarza Majów niż  współczesnej nauce.
        Globalne ocieplenie, co do którego panuje ogólny konsensus naukowy Cię nie przekonuje - przynajmniej nie tak bardzo jak kilku kwestionujących je youtuberów. 
    </p>
    <p> Gratuluję, jesteś foliarzem :)</p>
</div>